 .container {
    max-width: 800px;
    width: 800px;
    float: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

.container

/*------------------------Index------------------------*/

.exampleUser {
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    padding: 20px;
    align-items: center;
    overflow: hidden;

}

.examplePic {
    width: 100%;
    height: auto;
}




/*------------------------PROFILE------------------------*/

#profileInfoDiv {
    max-width: 800px;
    min-height: 300px;
}

.profilePicDiv {
    float: left;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 20px;
    align-items: center;
    overflow: hidden;
}

.profilePic {
    width: 100%;
    height: auto;

}

#profileInfo {
    position: relative;
    float: left;
    padding-left: 20px;
}

#profileWallDiv {
    display: inline-block;
    float: left;
    align-items: center;
}


#postTextBox {
    max-width: 500px;
    max-height: 100px;
    width: 500px;
    height: 100px;
}

.singlePostDiv {
    padding-top: 1px;
    padding-bottom: 1px;
}

#profileNameHeader {
    font-size: 25px;
    font-weight: bold;
    padding-right: 5px;
}

#profileUsernameHeader {
    font-weight: bold;
}


/*----------------LAYOUT----------------*/

.Action {
    background: blue;
    color: white;
    font-family: arial;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    text-decoration: none;

    
    
}

.navbar-header {
    background: blue;
    height: 32px;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}


/*---------------LogIn----------------*/

.DivLogIN {

    background: orange;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
      
}

#SubmitBtn {
    float: left;
    clear: both;

}



/*------------------------SEARCH------------------------*/

.searchResults {
    font-family: arial;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*------------------------Edit and Profile----------------------------*/


.aboutTextBox {
    max-width: 500px;
    max-height: 150px;
    width: 500px;
    height: 150px;
}