
@{
    ViewBag.Title = "Start";
}

<link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />

<div id="welcomeDiv">
    <h1 id="welcomeTitle">FedoRomance</h1>
    <p id="welcomeDescription">Welcome to FedoRomance, the one and only place for all you gentlemen and m'ladies out there!</p>
</div>

<div id="randomPics">
    <div id="randomUser1" class="randomUserDiv">
        <div class="randomUserInfo">
            Ralf, 54
        </div>
    </div>
    <div id="randomUser2" class="randomUserDiv">
        <div class="randomUserInfo">
            Sven, 48
        </div>
    </div>
    <div id="randomUser3" class="randomUserDiv">
        <div class="randomUserInfo">
            Arne, 62
        </div>
    </div>
    <div id="randomUser4" class="randomUserDiv">
        <div class="randomUserInfo">
            Birgitta, 41
        </div>
    </div>
    <div id="randomUser5" class="randomUserDiv">
        <div class="randomUserInfo">
            Marie, 55
        </div>
    </div>
    <div id="randomUser6" class="randomUserDiv">
        <div class="randomUserInfo">
            Jenny, 39
        </div>
    </div>
</div>