
@{
    ViewBag.Title = "Post";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />
@model FedoRomance.Web.Models.PostModel
           
@using (Html.BeginForm("Post", "Home"))
{
    <form id="post_message">
        <textarea id="userWallTextBox"></textarea>
        <input type="submit" id="postMessage" value="Skicka" />
    </form>    
}

<script>
        $("#post_message").submit(function (event) {
            event.preventDefault();
            var source =
            {
                'Message': $("#userWallTextBox").val(),
                'PostedBy': '@User.Identity.Name',
                'UserWall': '@Model.UserWall'
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/HomeApi/Post",
                data: source,
                success: function () {
                    $("#userWallTextBox").value = "";
                    document.location.reload();
                },
                error: function (error) {
                    alert("FEL MADAFAKA!")
                }
            });

        });
</script>