
@{
    ViewBag.Title = "Profile";
}

<link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />

<div id="profileInfoDiv">
    <div>
        <div id="profilePic"></div>
        <div id="profileTitle">
            <h1 id="profileName">NAME</h1>
        </div>
    </div>
    <div id="profileInfo">
        <h3>Info</h3>
        <p>Age: </p>
        <p>Gender: </p>
        <p>Region: </p>
        <p>Length: </p>
        <p>Weight: </p>
        <p>About: </p>
    </div>
</div>

<div id="friendsDiv">
    <h3>Friends</h3>
    <div id="randomFriend1" class="randomFriendDiv"></div>
    <div id="randomFriend2" class="randomFriendDiv"></div>
    <div id="randomFriend3" class="randomFriendDiv"></div>
    <div id="randomFriend4" class="randomFriendDiv"></div>
    <div id="randomFriend5" class="randomFriendDiv"></div>
    <div id="randomFriend6" class="randomFriendDiv"></div>
</div>

<div id="profileWallDiv">
    <h3>Wall</h3>
    <div>Testing text, showing text.</div>
</div>