
@{
    ViewBag.Title = "Search";
}



@using FedoRomance.Data
@model FedoRomance.Web.Models.SearchModel           

@using (Html.BeginForm("Search")) {
    <div>
        <h2>Search</h2>
        
        <p>
            Name:
            @Html.TextBoxFor(m => m.Name)
        </p>


        

        <p>
            <input type="submit" value="Search" id="searchButton"/>
        </p>
        
        <input type="text"/ id="resultsTextBox">
        
        Results:


        @if (ViewBag.Result != null)
        {
            foreach (User user in ViewBag.Result)
            {
                @Html.ListBox(user.Firstname)
            }
        }

    </div>

}