
@{
    ViewBag.Title = "Search";
}


@using System.Collections
@using FedoRomance.Data
@model FedoRomance.Web.Models.SearchModel           

@using (Html.BeginForm("Search")) {
    <div>
        <p>
            <h2>Search</h2>
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            <input type="submit" value="Search" id="searchButton" />
        </p>
        
        Results:
        
        <br/>

        
        
        @if (ViewData["SearchResult"] != null)
        {
            foreach (var item in (IEnumerable<string>) ViewData["SearchResult"])
            {
                <p>@Html.ActionLink(item, "Profile", "Home", new { username = item }, new { @class = "searchResults" })</p>
            }
        }

    </div>

}